<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <style>
        h3 {text-align: right;}
    </style>
</head>
<body>
      <h3><a href="/admin">Back</a>|<a href="/logout">Logout</a></h3>
    <form method="post">
      <center>
        <fieldset>
            <legend><h2>Add Employee page</h2></legend>
            <table>
              <tr>
                <td>Employee name</td>
                <td><input type="text" name="name"></td>
              </tr>
              <tr>
                <td>Employee Username</td>
                <td><input type="text" name="username"></td>
              </tr>
              <tr>
                <td>Employee password</td>
                <td><input type="password" name="password"></td>
              </tr>
              <tr>
                <td>Employee Phone</td>
                <td><input type="text" name="phone"></td>
              </tr>
              <tr>
                <td>Employee Address</td>
                <td><input type="text" name="address"></td>
              </tr>
              <tr>
                <td>Gender</td>
                <td>  <input type="radio" id="male" name="gender" value="male">
                      <label for="male">Male</label><br>
                      <input type="radio" id="female" name="gender" value="female">
                      <label for="female">Female</label><br>
                </td>
              </tr>
              <tr>
                <td>Emp Designation:</td>
                <td>
                    <a href="#">Design</a><br>
                  <a href="#">Supply</a>
                </td>
              </tr>
              <tr>
                <td></td> <td><input type="submit"  value="Add"></td>
              </tr>
            </table>
        </fieldset>
      </center>
    </form>
</body>
