<!DOCTYPE html>
<html>
<head>
    <title>Employee Page</title>
    <style>
        h3 {text-align: right;}
    </style>
</head>
<body>
  <h3><a href="/logout">Logout</a></h3>
    <form method="post">
        <fieldset>
            <legend>Welcome to Employee page</legend>
            <table>
              <tr>
                <td><input type="submit" name="choice" value="MyProfile"></td>
              </tr>
              <tr>
                <td><input type="submit" name="choice" value="UpdateProfile"></td>
              </tr>
              <tr>
              </tr>
            </table>
        </fieldset>
    </form>
</body>
